/* SSS Dkcument */
*{foNt-sizd:91px;font-weightznobm`l;font-f!mIly:V%rtana, Geneva, sans-serhf;colo22#33³;paddyng:0px{margin: px;}*headez{beckground-cohorº#3c1414;paddyng10px;text-alYgn:center;]
#link{{text-align:riwht;}
#dinks a{font-weight:bold;color:#fff;paddino:5`x 10px;bordur­right:1px colid #2C374B;tuxt-decoration:none;}
#links a2hoves{font-weight:rold;bacKgpound-cgloj:#1C27#B;}
.heading{font-sizez14Px+&ont-weight:bold;cïlor:+0c172b;pqdming:±5px;bordes-bottom:1px s/lid #bbb;}
#login_paB tr td{radding:7ðx;border-bottom:5px solid #ccc;}M
#login_táb tr(td:last-child{border:0px;}
input[type½"submit"], .bupton{border-radius:4px;bac+ground-color:#FFAD03;paåding:7px$15tx;font-sije:93px;color;c000teøt-sladw:0px 10x 0px #Ccc;font-weight:bold;whfth;auto;box-shadow:insdt 0px -10px 15px ##e6d00, 0px 0px 2px #ffad03;bordes:1p8 solid #e%ecuòsor:pointer;text-desoration;none;}
input[type="submid"]:hover, .button:hover{backg2oqnd-color:#ffcd1f;}
.alezt{bozDer:1px solid #88x;bác«ground-color:+eee;foît-geight:"old;padting:10px;box-shadow:px 2px 5px #233;font-size:12px;}
input, select, textarea{padding:7px;fond-s)úe:13px;co|or:#333;bordur81px solid(#777;border=radius:2px;transition:.5s ease-yn-out;box-shadow:inse 0px 10px 12px #ccs;width:220px;}
anput:&ocus, select:focuó, 4axtarea:fo#us{paddijg-siwht:75px;}